* {
  margin:0;
  padding:0;
}

body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
  cursor:pointer;
}

ul {
    list-style: none;
}

.index_top {
	background-color: #f5f5f5;
    border-bottom: 1px solid #eee;
}

.top_content {
	width:1190px;
	margin:0 auto;
	height:30px;
	position:relative;
}

.top_menu {
	float:left;
	width:210px;
}

.top_menu li{
    float:left;
    margin-right:20px;
    line-height: 30px;
}

.top_menu a {
    color: #6C6C6C;
    font-size:13px;
}

.index_top a:hover {
    color:#ff2832;
}

.top_phone {
	float:right;
    line-height: 30px;
}

.top_phone span:not(:first-child) {
	margin-left:10px;
}

.top_phone a {
    color: #6C6C6C;
    font-size:13px;
}

.logo_search {
	width:1190px;
	margin:0 auto;
	position: relative;
	height:150px;
}

.logo {
  float:left;
  width: 308px;
}

.logo img{
	margin:25px 50px;
	width:162px;
}

.commodity{
	margin:50px auto;
	float:left
}

.category_menu {
  margin:0 auto;
  width:1190px;
  height: 45px;
  position:relative;
}

.category_menu li{
    float:left;
    line-height: 45px;
    text-align: center;
}

.category_menu li a {
    display: block;
    border:1px;
    white-space: nowrap;
    color:#fff;
    font-size:16px;
    width:119px;
    background: #C0A78C;
}

.goods_walls{
	margin:0 auto;
	width:1190px;
	background: url("../image//commodityModify.png");
	background-repeat: no-repeat;
	background-position: center center;
}

.goods_walls form ul li{
	width:25%;
	margin-left:480px;
	margin-top:5px;
}

.goods_walls form ul li:last-child{
	text-align: center;
}
.goods_walls form ul li:last-child input{
	width:60px;
	height:35px;
}