* {
    margin:0;
    padding:0;
}

a {
    text-decoration: none;
}

.page {
    width:1366px;
    margin:0 auto;
    position: relative;
}

.login_header {
    height:95.33px;
}

.login_logo {
    height: 100%;
    float:left;
    width:150px;
    margin-left: 100px;
}

.login_logo img{
    width:162px;
   
}

.content {
    background: url("../image/163.jpg");
    background-repeat: no-repeat;
    background-size: auto 500px;
    background-position: center center;
    height:500px;
}

.login_content {
    height:400px;
    width:350px;
    right:60px;
    top:60px;
    position: relative;
    float: right;
    background:#fff;
}


.content_page {
     margin:30px 20px;
     width:310px;
     height:340px;
}

.content_header {
 text-align: center;
}

.content_header span{
    color:#ccc;
    font-size:30px;
    cursor:pointer;
    border-bottom: 3px solid #ccc;
}

.content_header span:first-child{
    margin-right: 60px;
    border-bottom:3px solid rgb(85,166,206);
    color: rgb(85,166,206);
}

.login_page, .adminLogin_page {
    position: relative;
    margin-top: 50px;
    height:180px;
}

.adminLogin_page {
    display: none;
}

.name, .password, .login_button,.adminLogin_button,.login_info {
    margin:30px 30px;
    width:250px;
    height:38px;
    border: 1px solid #bdbdbd;
}

.login_error {
    margin:30px 30px;
    width:250px;
    height:15px;
    border:none;
    line-height: 15px;
    font-size: 15px;
    color:red;
    display: none;
}

.login_page label,.adminLogin_page label{
    display: inline-block;
    width: 38px;
    height:38px;
    background: url(../image/util.png) no-repeat;
    background-position: 0 0;
    float:left;
    border-right: 1px solid #bdbdbd;
}

.login_info {
    border:none;
    line-height: 18px;
    height:18px;
}

.password label{
    background-position: -48px 0;
}

.login_page input,.adminLogin_page input[type=text]{
    float:left;
    width:209px;
    height:36px;
    border:1px solid #fff;
    line-height: 18px;
    text-indent: 5px;
    font-size: 18px;
}

.login_button,.adminLogin_button {
    display: block;
    text-decoration: none;
    width:250px;  
    height: 38px;
    background-color:rgb(85,166,206);
    font-size: 20px;
    line-height: 38px;
    letter-spacing: 20px;
    color: #fff;
     text-align: center;
}

.login_info a{
    color:#172b8c;
    float: right;
    margin-left:10px;
}

.login_bottom {
    height:75px;
}